html {
    margin: 0;
}

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: "Open Sans", sans-serif;
}

h3 {
    margin: 0;
    padding-top: 3%;
}

.inputSize {
    height: 50px;
}

input {
    width: 350px;
}

.hotNewsForm {
    text-align: left;
    float: right;
    width: 40%;
    margin-right: 5%;
}

.headerP{
    color: grey;
    text-align: left;
    float: left;
    font-size: 130%;
    width: 45%;
    margin-left: 7%;
    margin-top: 3%;
}
.title{
    text-align: left;
    color: white;
    font-size:  100pt;
    margin: 0;
    padding-left: 5%;
    padding-top: 5%;
}

p {
    font-family: "Open Sans", sans-serif;
}

.header {
    background-color: #ffef1e;
    margin: 0;
    padding-left: 60px;
    display:inline-block;
    vertical-align: bottom;
    margin-bottom: 20px;
}

.hotNews {
    background-color: white;
    padding: 0;
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
    clear: both;
    border: 1px solid darkgrey;
}

.newsTitle {
    text-align: center;
    color: darkgrey;
}

.newsAuthor {
    text-align: right;
    padding-right: 20px;
    color: darkslategrey;
}

.newsID {
    color: #1cfff0;
}

.newsText {
    size: 50px;
    color: black;
    padding: 3px;
    padding-top: 5px;
    padding-right: 3%;
    padding-left: 3%;
    text-indent: 30px;
}

.newsDate {
    color: black;
}

#footer {
    text-align: center;
    color: darkgrey;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid darkgrey;
}
